# Ignore all files be default
# see: https://code.visualstudio.com/api/working-with-extensions/publishing-extension#.vscodeignore
**

# Current output folder of TypeScript is out
!out/extension.js
!out/indicator/**/*.js
!package.json
!README.md
!CHANGELOG.md
!images/icon-color.png
