# Ignore all files be default
# see: https://code.visualstudio.com/api/working-with-extensions/publishing-extension#.vscodeignore
**

# Current output folder of TypeScript is out
!dist/
!l10n/
!package.json
!package.*.json
!README.md
!CHANGELOG.md
!LICENSE
!images/icon-color.png
