# Ignore all files be default
# see: https://code.visualstudio.com/api/working-with-extensions/publishing-extension#.vscodeignore
**

# Current output folder of TypeScript is out
!out/extension.js
!out/indicator/**/*.js
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!images/icon-color.png

# Add each dependency library manually.
# This is a light weight solution to release without bundle tool.
# see: https://code.visualstudio.com/api/working-with-extensions/bundling-extension
!node_modules/lookpath
