name: check-code-quality

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ master ]

jobs:

  check:
    runs-on: ubuntu-24.04
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20.18

      - name: Install dependent packages
        run: npm install

      - name: Run lint job
        run: npm run lint

      - name: Run test job
        run: npm run test
